.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: #264653;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
}

.nav-links-open {
    display: block;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #f4a261;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .nav-toggle {
        display: block;
    }
}
